@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
    /* Primary */
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);

    /* Accent */
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);

    /* Neutral */
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

h1, h2, h3, a, nav {
    font-family: 'Raleway', sans-serif;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
/* Navigation list*/
#nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}
#nav-list li a {
    text-decoration: none;
    width: 100%;
    color: var(--desaturated-blue);
    font-weight: 700;
}
#nav-list li a:hover {
    text-decoration: underline;
}

/* Button */
.btn {
    padding: 13px 55px;
    background-color: var(--bright-blue);
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}
.btn:focus {
    outline: none;
}
.btn:hover {
    filter: brightness(120%);
}
/* Form */
form {
    display: flex;
    margin-top: 25px;
}
/* Email */
.email {
    width: 100%;
    margin-right: 20px;
    padding-left: 15px;
}
.email:focus {
    outline: none;
}

/* Alert */
.alert {
    color: red;
    font-size: 14px;
    transform: translateY(10px);
    visibility: hidden;
}

#get-access-inner .alert {
    transform: translateY(-8px);
}

/* Presentation */
#presentation {
    background-color: var(--light-grayish-blue);
}

/* Presentation content */
#presentation-inner {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#presentation-inner .content {
    /* background-color: red; */
    max-width: 46%;
}

/* See how fylo works */
#how-fylo-works {
    color: var(--moderate-cyan);
    line-height: 10px;
    text-decoration: none;
    border-bottom: 1px solid var(--moderate-cyan);
    padding-bottom: 3px;
    display: flex;
    align-items: center;
    width: fit-content;
    margin-top: 20px;
}
#how-fylo-works img {
    margin-left: 5px;
}
#how-fylo-works:hover {
    filter: brightness(120%);
}

.presentation-content p{
    margin-top: 20px;

}

/* Testimonial */
.card {
    background-color: white;
    background-image: url("./img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-size: 5%;
    background-position: 30px 30px;
    padding: 50px 30px 30px 30px;
    width: 68%;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 3px 2px 20px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.card p {
    font-size: 13px;
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 0;
}
.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
}
.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.name {
    display: flex;
    flex-direction: column;
}
.name p {
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
}
.name label {
    font-size: 10px;
}

/* Get access */
#get-access {
    background: var(--desaturated-blue);
    padding-top: 90px;
    padding-bottom: 90px;
}
/* Get access inner content */
#get-access-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--light-gray);
}
#get-access-inner h1 {
    color: white;
    margin-bottom: 20px;
}
#get-access-inner form{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
}
#get-access-inner .email {
    padding-top: 13px;
    padding-bottom: 13px;
}
#get-access-inner form .alert {
    color: var(--light-gray);
    margin-top: 7px;
}

/* Footer */
footer {
    padding-top: 70px;
    padding-bottom: 70px;
    background: var(--very-dark-blue);
    color: var(--light-gray);
}
/* Footer logo */
#footer-logo {
    filter: invert(100%) sepia(27%) saturate(27%) hue-rotate(67deg) brightness(907%) contrast(106%);
}

/* Footer content */
#footer-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Contact */
.contact-option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}
.contact-option img {
    margin-right: 20px;
}

/* Footer list */
.footer-list {
    list-style: none;
}
.footer-list li {
    margin-bottom: 15px;
}
.footer-list a {
    text-decoration: none;
    color: var(--light-gray);
}

.footer-list a:hover {
    color: var(--bright-blue);
}


/* Social list */
.social-icons {
    width: 30%;
}
.social-icons img {
    max-width: 10px;
    height: auto;
    fill:var(--light-gray);
}
.social-list {
    list-style: none;
    color: var(--light-gray);
    display: flex;
}
.social-list li {
    margin-left: 5px;
    margin-right: 5px;
    /* border: 1px solid white;
    border-radius: 50%; */
    
}
.social-list li a {
    color: var(--light-gray);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    display: flex;
    border: 1px solid var(--light-gray);
    border-radius: 50%;
}
.social-list li a:hover {
    color: var(--bright-blue);
    border: 1px solid var(--bright-blue);
}

/* Desktop */ 
@media screen and (min-width: 861px) {
    .mobile {
        display: none;
    }

    /* Container */
    .container {
        max-width: 1200px;
        margin: auto;
    }

    /* Showcase */
    #showcase {
        background: url("./img/bg-curve-desktop.svg");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100%;
        padding-top: 90px;
        padding-bottom: 240px;
    }
    #showcase-inner {
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }
    /* Image */
    .image {
        max-width: 50%;
    }
    /* Content */
    .content {
        /* background-color: chocolate; */
        max-width: 40%;
    }
    .content h1 {
        line-height: 45px;
    }
    .margin-top {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    /* Presentation */
    #presentation {
        padding-top: 50px;
        padding-bottom: 90px;
    }

    .card {
        margin-top: 50px;
    }
    
}

/* Mobile */
@media screen and (max-width: 861px) {
    .desktop {
        display: none;
    }
    .container {
        max-width: 90%;
        margin: auto;
    }

    h1 { 
        font-size: 1.5rem;
        text-align: center;
    }
    p {
        font-size: 0.9rem;
    }

    /* Navbar */
    #navbar {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
    }
    /* Navigation list*/
    #nav-list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
    }
    #nav-list li a {
        font-size: 0.8rem;
    }

    #nav-logo {
        max-width: 30%;
    }

    /* Showcase */
    #showcase {
        background: url("./img/bg-curve-mobile.svg");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100%;
        padding-top: 90px;
        padding-bottom: 90px;
    }

    #showcase-inner {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center; 
    }

    #showcase-inner p{
        text-align: center;
        margin-top: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .email {
        padding: 13px;
        margin-right: 0;
        margin-bottom: 15px;
    }

    /* Presentation */
    #presentation-inner {
        display: flex;
        flex-direction: column;
    }
    
    /* Image */
    .image {
        max-width: 100%;
        height: auto;
    }

    /* Get access */
    #get-access {
        background: var(--desaturated-blue);
        padding-top: 90px;
        padding-bottom: 90px;
    }
    /* Get access inner content */
    #get-access-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: var(--light-gray);
    }

    /* Footer content */
    #footer-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 20px;
    }

    /* Presentation content */
    #presentation-inner {
        /* background-color: red; */
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 80px;
    }
    #presentation-inner h1 {
        font-size: 1.1rem;
    }
    #presentation-inner .content {
        /* background-color: red; */
        max-width: 100%;
        align-items: center;
        justify-content: center;
    }

    #how-fylo-works {
        margin: 40px auto 40px auto;
        font-size: 0.8rem;
    }

    .card {
        margin: auto;
        width: 85%;
    }
    .card p {
        font-size: 0.6rem;
        line-height: 20px;
    }
    .profile img {
        width: 30px;
        height: 30px;
    }

    /* Get access */
    #get-access {
        padding-top: 80px;
        padding-bottom: 60px;
    }
    #get-access h1 {
        font-size: 1.1rem;
    }
    #get-access p {
        text-align: center;
    }

    #get-access form {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:stretch

    }

    /* Footer */
    footer {
        padding-bottom: 50px;
    }
    footer .container {
        max-width: 80%;
    }

    /* Contact */
    .contact-option {
        margin-bottom: 15px;
    }

    .footer-list li {
        margin-bottom: 13px;
    }

    .about-us {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 35px;
    }
}